@import "param";
@import url("reset.css");

html,
body {
  font-family: "Roboto Slab", serif;
  //display: grid;
  height: 100%;
  //padding: 4px;
  font-size: 14pt;
}
body {
  // display: grid;
  // grid-template-rows: 1fr;
  //box-sizing: border-box;
  // background: linear-gradient(180deg, #fddb3a) center center no-repeat;
}

#screen {
  display: grid;
  //width: 50%;
  //height: 99%;
  padding: 50px 50px 50px 50px;
  //grid-template-rows: 1fr;
  //align-content: space-between;
  border: 0px solid #333;
  margin: 4px;
}

#header,
#main,
#footer {
  display: grid;
  grid-auto-flow: column;
}

.container {
  display: grid;
  grid-auto-flow: column;
}
.row {
  display: grid;
  grid-auto-flow: column;
  border: 0px solid $red;
}
.col {
  display: grid;
  grid-auto-flow: row;
  border: 0px solid green;
  align-items: start;
  justify-items: start;
  //grid-template-columns: min-content;
  //grid-template-rows: min-content;
}

.offer {
  padding: 0px 50px 50px 200px;
  border-radius: 6px;
  //background: #f6f4e6;
  background: #fddb3a;
  // box-shadow: 0px 2px 2px 0px rgb(151, 151, 151);
  // grid-auto-flow: column;
  // grid-template-columns: 160px ;
  grid-template-rows: 60px;
  // grid-auto-flow: ;
  display: grid;
  // align-content: end;
  line-height: 4rem;
}
.offer__pretitle {
  font: 2rem "Roboto", sans-serif;
  line-height: 4rem;
  //text-transform: uppercase;
  font-weight: 800;
  // font-size: 2rem;
  // margin-right: 25px;
  padding: 0px 10px;
  // justify-items: center;
  // align-items: center;

  justify-self: end;
  color: green;
  background: #28df99;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.offer__title {
  font-size: 3rem;
  font-weight: 800;
  // line-height: 4rem;
  // grid-row: 1 / 2;
  // width: 700px;
}

.offer__subtitle {
  font-size: 1.6rem;
  line-height: 2rem;
  // grid-column: 1 / 2;
}

.advantages {
  margin: 50px 0 50px 50px;
  padding: 0px 0px 0px 0px;
  border-radius: 6px;
  // background: #f6f4e6;
  // box-shadow: 0px 0px 6px 0px #333;
  // grid-auto-flow: column;
  // grid-template-columns: 160px ;
  //grid-template-rows: 60px;
  // grid-auto-flow: ;
  display: grid;
  // align-content: end;
  //line-height: 4rem;
  font-weight: normal;
  li {
    display: grid;
    //grid-template-columns: minmax(250px, 600px);
    grid-template-columns: 150px minmax(250px, 600px);
    //grid-template-rows: 200px;
    margin-bottom: 50px;
  }
  img {
    grid-row: 1 / 3;
    align-self: center;
  }
  h4 {
    grid-column: 2 / 3;
    font-size: 160%;
    line-height: 3rem;
  }

  p {
    grid-column: 2 / 3;
    font-size: 80%;
    line-height: 1.2rem;
  }
}
